<div class="col-xs-10 col-xs-offset-1 about">
	<h1>About Splurty</h1>

	<p>
		Splurty was built by <a target="_blank" href="http://github.com/hkawanishi">Hiromi</a> who is aspiring to be a web developer.
	</p>
	<br />

  <div class="col-xs-12 col-sm-4">
  	<%= image_tag 'my_pic.JPG', :class => 'img-responsive' %>
  </div>

  <div class="col-xs-12 col-sm-7 col-sm-offset-1">
  	<h2 class="text-center">Hiromi Kawanishi</h2>
  	<br />

  	<p>
  		Hiromi Kawanishi is currently a student at <a target="_blank" href="http://www.thefirehoseproject.com/">the Firehose Project</a>.  Previously, she was a vehicle dynamics engineer at automotive company.  She lives in Reno, NV, with her wonderful husband, son and one cat, Panda.
  	</p>
</div>

<br class="clear" />
<br />
<br />
<br />
<br />